.scroll{
	font-family: Noto+Color+Emoji,Inter,Impact,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	scroll-snap-type: y proximity;
	/* Reserve space for header plus some extra space for sneak peeking. */
	scroll-padding-top: 15vh;
	overflow-y: scroll;
	
}
.section{
	
  /* Snap align start. */
  scroll-snap-align: start;

}

.glowButton{
	box-shadow: 5px 0px 10px var(--box-shadow-color);
	--box-shadow-color: #dc354638;
}

.glowButton:hover{

	background-color: rgb(253, 45, 45);
}

.title{
	font-size: 6rem;
}

@media screen and (max-width: 800px){
	.title{
font-size: 5rem;
	}
}

@media screen and (max-width: 600px){
	.title{
font-size: 3.5rem;
	}
}