html {
  font-family:
    system-ui,
    Noto + Color + Emoji;
}

* {
  border: rgba(255, 0, 0, 0.1) 1px solid;
}

.nav-blur {
  background: #e9ecef13;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.pageContent {
  scroll-padding-top: 15vh;
  scroll-padding-bottom: 15vh;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.jumbotron {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.card {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.glowButton {
  box-shadow: 5px 0px 10px var(--box-shadow-color);
  --box-shadow-color: #dc354638;
  transition: transform 0.2s ease-in-out;
}

.glowButton:hover {
  transform: scale(1.05);
  background-color: #ff4255;
  outline: #e9ecef;
  outline-style: solid;
  outline-offset: -2px;
  outline-width: 3px;
}

.icon {
  position: relative;
  width: 100px;
  font-size: 1rem;
  color: #7e8a94;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  color: #bac7d1;
}

.icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #d92e480a;
  opacity: 0;
  transition:
    opacity 10s ease-in-out,
    transform 10s ease-in-out,
    scale 10s ease-in;
  border-radius: 100%;
  transform: scale(1);
  z-index: -1;
  animation: growAndFade 1s infinite;
}

@keyframes growAndFade {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    opacity: 1;
    transform: scale(3);
  }

  100% {
    opacity: 0;
    transform: scale(5);
  }
}
