/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* *{ outline: rgb(255, 115, 115) 1px solid} */

@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)) {
  /* Dark mode variant */
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
	--gray-dark: 17 24 39;
	--gray: 107 114 128;
	--black: 15 23 42;
	--accent: 239 68 68;
	--box-shadow: 0 20px 40px rgba(15, 23, 42, 0.15);
}
[data-theme="dark"] {
	--gray-dark: 226 232 240;
	--gray: 148 163 184;
	--black: 248 250 252;
	--accent: 248 113 113;
	--box-shadow: 0 20px 40px rgba(2, 6, 23, 0.6);
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
  /* Font sizes are controlled by Tailwind utility classes */
}
strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1.5em 1em 1em 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
