---
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GithubHeatmap from "../components/GithubHeatmap/GithubHeatmap.astro";
import Layout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { SITE_DESCRIPTION } from "../consts";
import Avatar from "../images/jonathangroberg.jpeg";
import SkillList from "../components/SkillList.astro";
const skills = {
  languages: ["Typescript", "C#", "C++", "Python", "SQL", "HTML", "CSS"],
  frameworks: [
    "Vue",
    ".NET",
    "React",
    "Astro",
    "Node.js",
    "Bootstrap",
    "TailwindCSS",
  ],
  tools: [
    "Git",
    "Vim",
    "Linux",
    "Postman",
    "REST-API",
    "Agile",
    "VS Code",
    "Visual Studio",
    "SQL Server Management Studio",
  ],
};
const education = [
  {
    name: "University of Florida",
    location: "Gainesville, FL",
    degree: "Bachelor of Science in Computer Science",
    date: "January 2024 - December 2025",
  },
  {
    name: "Hillsborough Community College",
    location: "Tampa, FL",
    degree: "Associate of Arts",
    date: "August 2021 - May 2022",
  },
];
---

<Layout title={"Home"} description={SITE_DESCRIPTION}>
  <Header />
  <main class="mx-auto py-8 flex flex-wrap gap-8">
    <!-- Header Card -->
    <Card>
      <div
        class="flex flex-wrap sm:flex-nowrap justify-center sm:text-start gap-x-10 gap-y-5 p-8 my-2 sm:p-0 mx-auto text-center px-2 sm:px-0"
      >
        <Image
          src={Avatar}
          alt="Image of Jonathan Groberg"
          loading="eager"
          class="shadow outline outline-1 outline-white sm:w-20 sm:h-20 w-24 h-24 rounded-sm mx-auto"
        />
        <div class="hover:*:*:animate-pulse">
          <p class="text-lg mb-2">
            I'm a <a
              href="https://www.youtube.com/"
              class="border-b border-red-300 hover:border-b-2 hover:border-red-300"
              >Software Engineer Intern</a
            > at <a
              class="border-gray-400 border-b hover:border-red-300 hover:border-b-2"
              href="https://www.youtube.com/"
            >
              Google - YouTube Shorts
            </a> and Computer Science Junior at the <a
              class="border-gray-400 border-b hover:border-red-300 hover:border-b-2"
              href="https://www.eng.ufl.edu/"
            >
              University of Florida 🐊</a
            > from the
            <a
              href="https://www.perplexity.ai/search/greater-tampa-bay-3jbHPzbtRzy1iFrqoO1lhA"
              class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
              >Greater Tampa Bay</a
            > 📍
          </p>
        </div>
      </div>
    </Card>
    <div class="flex w-full gap-4 justify-start">
      <button>
        <a
          href="https://www.linkedin.com/in/jonathan-groberg/"
          class="hover:bg-red-50 hover:outline-2 text-black outline outline-1 outline-red-300 shadow rounded-sm px-4 py-2 text-sm"
        >
          {"-> linkedin"}
        </a>
      </button>
      <button class="">
        <a
          href="/resume.pdf"
          class="hover:bg-gray-50 bg-white hover:outline-2 text-black outline outline-gray-300 outline-1 shadow rounded-sm px-4 py-2 text-sm"
        >
          {"-> resume.pdf"}
        </a>
      </button>
    </div>
    <section class="flex-auto flex flex-wrap gap-4 overflow-auto">
      <Card title="Github Contributions">
        <GithubHeatmap />
      </Card>
      <!-- <div class="border-t my-8"></div> -->
    </section>
    <!-- <Card title="Currently">
      <p class="hover:*:bg-red-50 underline-offset-2 my-auto mb-2">
        Working on a <a
          href="https://github.com/JonCGroberg"
          class="border-b-2 border-red-200">Habit Tracking Application</a
        >. Located in the
      </p>
    </Card> -->

    <Card title="Skills">
      <SkillList
        skills={{
          languages: ["Typescript", "C#", "C++", "Python", "SQL", "HTML", "CSS"],
          frameworks: [
            "Vue",
            "React",
            ".NET",
            "Astro",
            "Next.js",
            "Bootstrap",
            "TailwindCSS",
          ],
          tools: [
            "LLMs",
            "RAG",
            "Git",
            "Linux",
            "Postman",
            "REST-API",
            "Agile",
            "SQL Server Management Studio",
          ],
        }}
      />
    </Card>
    <Card title="Experience">
      <p>
        <a
          href="https://www.youtube.com/"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          Google - YouTube Shorts
        </a>
        : Software Engineer Intern
        <br />
        <span class="text-sm">Summer 2025</span>
        <br />
        <span class="text-sm">
          Worked on developing and deploying features for YouTube Shorts, contributing to the platform's scalability and user experience.
        </span>
        <br />
        <br />
        <a
          href="https://fintech.com/"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          Fintech
        </a>
        : Software Engineer Intern
        <br />
        <span class="text-sm">Jan 2025 - Present</span>
        <br />
        <span class="text-sm">
          Deployed C# backend feature automating user upgrade flow for a retailer application facilitating 39% of U.S. alcohol sales.
        </span>
        <br />
        <span class="text-sm">
          Pushed to production 3 full-stack user stories and bug fixes involving Angular + TypeScript frontend and Node.js backend.
        </span>
        <br />
        <br />
        <a
          href="https://www.teamhcso.com"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          Hillsborough County Sheriff's Office
        </a>
        : Software Engineer Co-Op
        <br />
        <span class="text-sm">Feb 2024 - Oct 2024</span>
        <br />
        <span class="text-sm">
          Developed full-stack application serving 1,000+ law enforcement agents with C# backend, SQL stored procedures, and Vue frontend using TypeScript, Quasar, and Vitest.
        </span>
        <br />
        <span class="text-sm">
          Created 5 web components for a public-facing site, achieving a 100/100 Lighthouse score with Astro, Tailwind CSS, and ADA compliance.
        </span>
        <br />
        <span class="text-sm">
          Pushed to production an auditing feature for a full-stack application, achieving 93-96% accuracy and saving 100+ monthly hours across 50+ unique reports.
        </span>
        <br />
        <br />
        <a
          href="#"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          Infinite Edge Learning Center & CodeFu
        </a>
        : Computer Science & Mathematics Tutor
        <br />
        <span class="text-sm">Sep 2022 - Jan 2024</span>
        <br />
        <span class="text-sm">
          Created and implemented 10-15 personalized lesson plans weekly involving advanced math, Java, and Python, leading to 85% of students earning AP scores of 3 and above.
        </span>
        <br />
        <br />
        <a
          href="#"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          The Church Of Jesus Christ Of Latter Day Saints
        </a>
        : Data Analyst Intern
        <br />
        <span class="text-sm">Jul 2021 - Dec 2021</span>
        <br />
        <span class="text-sm">
          Analyzed and visualized data to support decision-making processes, improving operational efficiency and data-driven strategies.
        </span>
      </p>
    </Card>
    <Card title="Education">
      <p>
        <a
          href="https://www.eng.ufl.edu/"
          class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
        >
          University of Florida
        </a>
        : Bachelor of Science in Computer Science, Minor in Business Administration
        <br />
        <span class="text-sm">Jan 2024 - May 2026</span>
        <br />
        <span class="text-sm">GPA: 3.95/4.0</span>
        <br />
        <span class="text-sm">
          Relevant Courses: Enterprise Software Engineering, Intro to VR, AI in Science, Python for Biology
        </span>
        <br />
        <span class="text-sm">
          Leadership: Grow with Google Scholar, 3X Hackathon Winner, Eagle Scout, Georgia Tech Startup Exchange Fellowship
        </span>
        <br />
        <span class="text-sm">
          Clubs: Open Source Club, ColorStack, Society of Professional Hispanic Engineers
        </span>
      </p>
    </Card>
    <!-- <Card>
        <p>
          <a
            href="https://www.hccfl.edu/"
            class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
            >Hillsborough Community College</a
          >
          : Associate of Arts in Engineering
          <br />
          <span class="text-sm">Jan 2022 - Aug 2023</span>
          <br />
          <span class="text-sm">GPA: 3.6/4.0</span>
          <br />
        </p>
      </Card> -->
    <!-- <Card title="Projects">
      <ul>
        <li>
          <a
            href="blog"
            class="border-b border-red-200 hover:border-b-2 hover:border-red-300 text-base"
            >Personal Blog</a
          >
          <span class="text-base"
            >: A personal blog where I write about technology, software
            development, and other topics that interest me.</span
          >
        </li>
        <li>
          <a
            href=""
            class="border-b border-red-200 hover:border-b-2 hover:border-red-300 text-base"
            >Habit Tracking Application</a
          >
          <span class="text-base"
            >: A habit tracking application that allows users to track their
            habits and set goals for themselves.
          </span>
        </li>
      </ul>
    </Card>
    <Card title="About Me">
      <p class="">
        Hi! I'm Jonathan Groberg, a software engineer intern and computer
        science junior at the University of Florida. I'm currently working on
        projects that involve web development, machine learning, and artificial
        intelligence. I'm passionate about technology and enjoy learning new
        things every day. I am located in the
        <a
          href="https://www.perplexity.ai/search/greater-tampa-bay-3jbHPzbtRzy1iFrqoO1lhA"
          class="border-b border-red-200 hover:bg-red-50 hover:border-b-2"
          >Greater Tampa Bay</a
        > 📍
      </p>
      <p class="">
        I'm passionate about software development, machine learning, and
        artificial intelligence. I enjoy working on projects that challenge me
        and allow me to learn new things. I'm always looking for new
        opportunities to grow and improve my skills.
      </p>
    </Card>
    <Card title="Socials" /> -->
  </main>
  <Footer />
</Layout>
