---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import GithubHeatmap from "../components/GithubHeatmap.astro";
import Layout from "../layouts/MainLayout.astro";
import { SITE_DESCRIPTION } from "../consts";
import avatar from "../images/avatar.jpeg";
const cards = [
    "GitHub Stats",
    // "Git Contribution Graph",
    // "Education",
    // "Current Experience",
    // "Current Project",
    // "Location",
    // "Feed",
];
---

<Layout title={"Home"} description={SITE_DESCRIPTION}>
    <Header />
    <main>
        <div
            class="flex flex-wrap sm:flex-nowrap mb-0 sm:mb-6 justify-center text-center sm:text-start gap-x-10 gap-y-5"
        >
            <Image
                src={avatar}
                alt="Jonathan"
                loading="eager"
                class="shadow-lg outline outline-1 outline-white w-20 h-20 my-2 rounded-sm"
            />
            <p class="*:hover:bg-red-50 underline-offset-2">
                I'm a <u>Software Engineer Intern</u> at the
                <u> Hillsborough County Sherrif's Department</u>. Currently, I
                am working on a <u>Habit Tracking Application</u>. Located in
                the <u>Greater Tampa Bay</u>
            </p>
        </div>
        <div class="border-t my-8"></div>
        <section class="flex flex-wrap gap-2">
            <!-- {cards.map((cardTitle) => <Card title={cardTitle} />)} -->
            <GithubHeatmap />
        </section>
        <div class="border-t my-8"></div>
    </main>
    <Footer />
</Layout>
