---
const { title, color } = Astro.props;
---

<div
  class="flex-grow rounded border border-1 border-gray-200 bg-white px-5 p-3 overflow-auto gap-5 text-lg"
>
  {title && <p class="text-sm text-gray-500 mb-1">{title}</p>}
  <slot />
</div>
