---

---

<div class="container">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

<script>
    // const response = await fetch("https://github.com/joncgroberg");
    // console.log(response);
    fetch("https://api.github.com/users/joncgroberg")
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.error("Error:", error));
</script>
