---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
    href={href}
    class="text-gray-800 text-center pt-6 pb-5 px-2"
    class:list={[
        className,
        isActive ? "font-semibold border-b-4   border-red-600" : "",
    ]}
    {...props}
>
    <slot />
</a>
